<div class="row alert alert-dismissible alert-success">
  <form>
    <input #content type="text" class="form-control-plaintext" name="Content" placeholder="Content">
    <input #rating type="text" class="form-control-plaintext" name="Rating" placeholder="Rating">
    <input #bookingId type="number" class="form-control-plaintext" name="BookingId" placeholder="BookingId">
    <button class="btn btn-info" (click)="save(content.value, rating.value, bookingId.value)">Add Comment</button>
  </form>
</div>
