<h1 id="tableLabel">Booking List</h1>

<p *ngIf="!bookings"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="bookings">
  <thead>
    <tr>
      <th>id</th>
      <th>UserId</th>
      <th>LocationId</th>
      <th>Added</th>
      <th>Start</th>
      <th>End</th>
      <th>State</th>
      <th># of comments</th>
      <th colspan="3">Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let booking of bookings">
      <td>{{ booking.Id }}</td>
      <td>{{ booking.userId }}</td>
      <td>{{ booking.locationId }}</td>
      <td>{{ booking.added }}</td>
      <td>{{ booking.start }}</td>
      <td>{{ booking.end }}</td>
      <td>{{ booking.state }}</td>
      <td>{{ booking.comments.length }}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
