<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">EVCharge</a>
      <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
      <a class="nav-link text-dark" [routerLink]="['/bookings']">Bookings</a>
      <a class="nav-link text-dark" [routerLink]="['/users']">Users</a>
      <a class="nav-link text-dark" [routerLink]="['/locations']">Locations</a>
      <a class="nav-link text-dark" [routerLink]="['/comments']">Comments</a>
      <a class="nav-link text-dark" *ngIf="loggedIn()" (click)="logout()">Log Out</a>

      <div *ngIf="loggedIn()" class="dropdown">
        <a class="dropdown-toggle" href="#">
          Welcome user
        </a>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>Logout</a>
        </div>
      </div>

      <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inlin my-2 my-lg-0" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" type="text" name="Username" placeholder="Username" required [(ngModel)]="model.username">
        <input class="form-control mr-sm-2" type="password" name="Password" placeholder="Password" required [(ngModel)]="model.password">
        <button class="btn btn-success my-2 my-sm-0" [disabled]="!loginForm.valid" type="submit">Login</button>
      </form>

    </div>
  </nav>
</header>
