<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark navbar-toggleable-sm">
    <a class="navbar-brand" [routerLink]="['/']">EVCharge</a>

    <div class="btn-group" dropdown *ngIf="loggedIn()">

      <button id="button-animated" dropdownToggle type="button" class="btn btn-dark dropdown-toggle"
              aria-controls="dropdown-animated">
        <span class="navbar-toggler-icon"></span>
      </button>

      <ul class="dropdown-menu mr-auto" id="dropdown-animated" *dropdownMenu>

        <div class="mr-auto">
          <li role="menuitem" class="mr-auto">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li role="menuitem">
            <a class="nav-link text-dark" [routerLink]="['/bookings']">Bookings</a>
          </li>
          <li role="menuitem">
            <a class="nav-link text-dark" [routerLink]="['/users']">Users</a>
          </li>
          <li role="menuitem">
            <a class="nav-link text-dark" [routerLink]="['/locations']">Locations</a>
          </li>
          <li role="menuitem">
            <a class="nav-link text-dark" [routerLink]="['/comments']">Comments</a>
          </li>
          <li role="menuitem">
            <a class="nav-link text-dark" [routerLink]="['/']" (click)="logout()">Logout</a>
          </li>
        </div>
      </ul>
    </div>

    <form #loginForm="ngForm" class="form-inline text-right my-2 my-lg-0" *ngIf="!loggedIn()" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="Username" placeholder="Username" required [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" name="Password" placeholder="Password" required [(ngModel)]="model.password">
      <button class="btn btn-success mr-sm-2" [disabled]="!loginForm.valid" type="submit">Login</button>
      <app-social-login></app-social-login>
    </form>

  </nav>
</header>
