<h1>Bookings Made</h1>

<p *ngIf="!bookings"><em>Loading...</em></p>

<div class="container">
  <div class="row justify-content-lg-center">

    <div class="card text-white bg-info col col-sm-3 m-3" style="max-width: 30rem;" *ngFor="let booking of bookings">
      <div class="card-header">
        <div class="row">
          <a class="col btn btn-success .btn-sm" href='/bookings-details?bookingid={{ booking.id }}'>Details</a>
          <a class="col btn btn-warning .btn-sm" href='/bookings-update?bookingid={{ booking.id }}'>Update</a>
          <button class="col btn btn-danger .btn-sm" (click)="delete(booking);$event.stopPropagation()">Delete</button>
        </div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Booking {{booking.id}} Details</h4>
        <p class="card-text">UserId: {{booking.userId}}</p>
        <p class="card-text">LocationId: {{booking.locationId}}</p>
        <p class="card-text">Added: {{booking.added}}</p>
        <p class="card-text">Start: {{booking.start}}</p>
        <p class="card-text">End: {{booking.end}}</p>
        <p class="card-text">State: {{booking.state}}</p>
        <p class="card-text"># of comments: {{booking.comments.length}}</p>
      </div>
    </div>

  </div>
  </div>
